#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #FF5722;
    cursor: default;
    height: 3.5em;
    left: 0;
    line-height: 6em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    text-align: center;
}

#header nav.left {
    left: 2em;
}

#header nav {
    position: absolute;
    top: 0;
    height: inherit;
    line-height: inherit;
}

#ham{
    color: #fff;
    line-height: 50px;
    font-size: 1.8em;
}

#news-link{

    font-size: 0.5em;
    color: #fff;
    font-weight: bold;
    padding: 35px;
}

.logo{
    background-image: url("images/logo.jpg");
    width: 30px;
    height: 30px;
    margin-left: 600px;
    margin-top: 10px;
}

@media screen and (max-width: 1280px)
#banner {
    padding: 12em 0 10em 0;
}

#banner {
    width: 100%;
    padding: 20em 0 12em 0;
    background-image: url("http://via.placeholder.com/1920x680");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

#banner h1{
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 0.5em 80px;
    padding: 0;
}

.divLeft {
    width:700px;
    display:block;
    float: left;
    margin-top: 100px;
}
.divRight {
    width:100px;
    display:block;
    float: left;
    margin-top: 115px;
    
}

.fa-icons{
    color: #FFCCBC;
    padding: 15px 8px 5px 8px;
    border: 1px solid #FF5722;
    border-radius: 25px;
    background-color: #FF5722;
}
.content{
    width: 100%;
    height: 100px;
}

#about{
    color: #000;
}
section.special, article.special {
    text-align: center;

}

.inner {
    margin-left: 190px;
    width: 100%;
    display: block;
    max-width: 65em;
    text-align: justify;
    text-justify: inter-word;
}

#first-blockquote {
    padding: 0px 5px 0px 0px;
    margin: 0px 0 20px;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    border-left: 0px solid #fff; 
}


.underline{
    width: 2%;
    border: 1px solid #FF5722;
}
.sec-one{
    padding-top: 50px;
    padding-bottom: 75px;
}
.left{
    float: left;
}
.right{
    text-align: right;
}
.page-header{
    background-color: #FF5722;
    color: #fff;
    padding-top: 30px;
    height: 150px;
   
}

.comment-btn {
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none;
    padding: 6px 14px;
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: #FFCCBC;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid #FFCCBC;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FF5722;
  background: #fff;
  border: 2px solid #ff5722;
}
.icon{
    color: #000;
    font-weight: bold;
}
#envi-btn{
    
    border-left: #fff;
    border-right: #fff;
    border-top: #fff;
    box-shadow: none;
    border-bottom: 2px solid #888;
    font-weight: bold;
}

.outer {
    position: relative;
    margin-top: 10px;
    width:100%;
    height: auto;
}
.top {
    position: absolute;
    z-index:2;
}
.middle {
    position: absolute;
    margin-top: 100px;
    margin-left:500px;
    z-index:1;
}

.block-left{
    float: left;
    margin-top: 435px;
    margin-left: 145px;
    width: 33%;
    height: auto;
    z-index: 0;
}
#second-blockquote{
    font-size: 1.6em;
    font-family: 'Lato', sans-serif;
    color: #FF5722;
    padding: 2em 145px 2.2em 35px;
    border: 3px;
    border-style: solid;
    border-color: #FF5722;
    line-height: 1.2;
    position: relative;
  
}
#second-blockquote::after{
    content: '';
}

#second-blockquote span{
    display:block;
    color:#FF5722;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}
.block-right{
    font-weight: 600;
    font-size: 1.8em;
    position: absolute;
    margin-left: 635px;
    margin-top: 620px;
    font-family: 'Lato', sans-serif;
    width: 40%;
    height: 100px;
}

.block-right h3{
    font-size: 0.9em;
}

.block-right-content{
    font-size: 1.1em;
    line-height: 1.8;
    width: 70%;
    position: absolute;
    font-family: 'Lato', sans-serif;
}
.para{
    color: black;
}
.video {
    width: 100%;
    height: 330px;
    border: 1px solid black;
}
.demo{
    display:table;
    height: auto;
    position:relative;
    width:80%;
    margin-top: 50px;
}
.playpause {
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:32%;
    right:0%;
    top:28%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
#play-btn{
    color: #FF5722;
}

#video-sec{
    height: 550px;
}

.wrapper footer{
    margin-left: 0px;
    margin-right: 0px;
}

footer{
    padding-top:50px;
}

input:not(.form-control){
    border-radius:5px;
    line-height:1.9em;
    margin:20px 0 20px 0;
    box-shadow:2px 2px 2px black;
}

.footer-footer{
    background-color:#eee;
    margin-top: -20px;
}

i{
    color:#bdbdbd;
 
}
.footer-right{
    text-align:right;
    display:block;
    float:left;
}
.footer-left{

}
.footer-text{
    color:#bdbdbd;
}
.add-space{
    margin-right:20px;
}
p{
    font-size:1em;
    color:#FFCCBC;
}
button{
    box-shadow:2px 2px 2px black;
}
.feedback-input {
    opacity:0.9;
    color:#fff;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    border: 3px solid #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #fff;
    outline: none;
    padding: 13px 13px 13px 54px;
}

/* Icons ---------------------------------- */

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    box-shadow:none;
    background-color:#FF7043;
    background-size: 25px 25px;
    background-position: 18px 16px;
    background-repeat: no-repeat;
    border :1px solid #FF7043;
    border-radius:30px;
    width:100%;
    color:#fff;
}

#email:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 25px 25px;
    background-position: 18px 16px;
    background-repeat: no-repeat;
    color:#fff;
}
.email{
    color:#fff;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

.footer-section{
    background-color: #ff5722;
    color: #fff;
}
.footer-section div{
    margin-top: 30px;
}

#button-sub{
    font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
    float:left;
    border: #fff solid 1px;
    border-radius:50px;
    box-shadow:none;
    width:100%;
    cursor:pointer;
    background-color: #fff;
    color:#FF5722;
    font-size:1.5em;
    font-weight:bold;
    margin-top: -35px;
    padding-top:13px;
    padding-bottom:13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#button-sub:hover{
    background-color: rgba(0,0,0,0);
    color: #fff;
}
    
.submit:hover {
    color: #3498db;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}


.comment-box{
    /*height: 500px;*/
    margin-top: 212px;
    width: 65%;
    margin-left: 170px;
}
.commentor{
    border: 1px solid #bdbdbd;
    border-radius: 25px;
}
.pull-right{
    color: #bdbdbd;
}
.media-body{
    padding-bottom: 20px;
    padding-left: 24px;
}  

.media, .media-body
{
    overflow: visible;
}
.text-field{
    width: 30em; 
    height: 5em;
    margin-top: 30px;
    margin-left: 250px;
    border: 1px solid #FF5722;
    border-radius: 35px;
    padding: 22px;
    color: #bdbdbd;
}

.display{
    background-color: #FF5722;
    width: 100%;
    color: #fff;
    margin-left: 170px;
}

#cloud{
    font-size: 7.3em;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #fff;
}

.day{
    font-weight: 600;
    text-decoration: underline;
}
.temp{
    font-size: 9em;
}


/*-----------------media queries-----------------------------*/

/* For mobile phones: */

@media screen and (max-width: 320px) {
    

        #banner{
            width: 1245px;
            height: 500px;
            margin-bottom: 610px;
        }

        .divLeft{
            font-size: 1.8em;
        }

        .divRight{
            display: none;
        }
         #about{
            margin-top: -555px;
         }

        .inner{
            width: 1000px;
            text-align: left;
            margin-top: 
            margin-left: 90px;
            font-size: 1.5em;
        }

         #first-blockquote{
            margin-top: 0px;
            margin-bottom: 565px;
            margin-left: 0px;
            width: 1000px;
            font-size: 2.5em;
        }
        .left{
            font-size: 1.5em;
        }
        #envi-btn{
            font-size: 1.5em;
        }
        .right{
            text-align: right;
        }
        .top{
            margin-top: -380px;
        }
        .middle{
            z-index: 3;
            margin-bottom: 0px;
            margin-top: -560px;
        }

        .block-left{
            width: 1000px;
            margin-top: 120px;
            font-size: 2em;
        }

        #second-blockquote{
            border-left: 4px solid #ff5722;
            border-bottom: 0px;
            border-right: 0px;
            border-top: 0px;
            padding: 38px;
        }
     
        .block-right{
            width: 1000px;
            margin-left: 145px;
        }

        .block-right h3{
            font-size: 1.8em;
            font-weight: bolder;
            color: #000;
        }

        .block-right-content{
            width: 1000px;
            margin-left: 130px;
            margin-top: 30px;
        }

        .para{
            font-size: 2.5em;
        }

        .underline{
            display: none;
        }  

        #video-sec{
            width: 1560px;
            margin-top: 358px;
        }   

        .video{
            height: 700px;
        } 

        #play-btn{
            font-size: 10em;
        }
        .wrapper footer{
            display: none;
        }

        .comment-section{
            display: none;
        }
        
}
       
      
/* For iPads (landscape) */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #banner{
        width: 1250px;
    }
    #about{
        width: 1250px;
    }

    .inner{
        justify-content: left;
        text-align: left;
    }

    .sec-one{
        font-size: 1.5em;
    }

    #envi-btn{
        font-size: 0.9em;
    }

    #first-blockquote{
        width: 1000px;
        font-size: 2em;
        margin-left: -75px;
    }

    .block-left{
        width: 1000px;
        margin-left: 120px;
        font-size: 1.2em;
        margin-top: 580px;
    }
    #second-blockquote{
        border-bottom: 0px;
        border-right: 0px;
        border-top: 0px;
        width: 1055px;
    }
    .block-right {
        width: 945px;
        font-size: 2em;
        margin-top: 840px;
        margin-left: 130px;
    }
    .block-right h3{
        font-size: 1.1em;
    }

    #video-sec{
        width: 1250px;
        height: 1065px;
        margin-top: 85px;
        margin-left: -15px;
    }
    .demo{
        width: 80%;
        margin-left: 130px;
    }

    .block-right-content{
        font-size: 1.8em;
        margin-left: 130px;
        width: 945px;
        margin-top: 25px;
    }

    .sec-one .underline{
        margin-left: 425px;
    }
    .comment-section{
        width: 1250px;
    }

    .comment-btn{
        font-size: 1.2em;
    }
    .footer-section{
        width: 1250px;
    }
    .video-sec .underline{
        margin-left: 610px;
    }
}
        

